/*style page make sure */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*Design of LOGO */
.navbar-brand{
    font-size: 2rem;
    color: black;
}

.navbar-brand:hover{
    color: coral;
}
