/*style page make sure */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*Design of LOGO */
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Kenia', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik Gemstones', cursive;
}

.navbar-brand:hover{
    color: coral;
}


/*navbar titles*/
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}

.nav-link:hover{
    color: coral;
}

/*Design search bar and search button */
.search-bar{
    height: 40px;
    width: 60%;
    border-radius: 60px;
    outline: none;
    border: 2px solid coral;
}


.btn{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: coral;
    color: white;
    font-weight: 700;
}

.main{
    background: url(/static/Images/pexels-angela-roma-7479816.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width:100%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}



.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: coral;
    color: white;
    font-weight: 700;
}

.col-lg-7{
    padding: 5;
    text-align: center;
}

.product{
    display: flex;
    justify-content: center;
    color: coral;
}

.card{
    display: flex;
    justify-content: center;
}