/*style page make sure */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*Design of LOGO */
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Kenia', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik Gemstones', cursive;
}

.navbar-brand:hover{
    color: coral;
}


/*navbar titles*/
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}

.nav-link:hover{
    color: coral;
}

/*Design search bar and search button */
.search-bar{
    height: 40px;
    width: 60%;
    border-radius: 60px;
    outline: none;
    border: 2px solid coral;
}


.btn{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: coral;
    color: white;
    font-weight: 700;
}

